body .select2-container--default .select2-selection--single {
    border-color: #dfe5ef;
}
body .select2-container--default .select2-selection--single,
body .select2-container--default .select2-selection--single .select2-selection__rendered,
body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 58px;
    line-height: 53px;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 16px;
}
.select2-container--open .select2-dropdown--below {
    margin-top: -17px;
}
.errorlist.nonfield {
    color: rgba(250, 137, 107, 1);
    margin: 0;
    font-size: 11px;
}